.heading {
  margin: 2rem;
  font-weight: bold;
  text-align: center;
  // text-transform: uppercase;
}

.form {
  // margin-top: 3rem;
}

.input {
  display: block;
  margin: 2rem auto;
  width: 60%;
  padding: .5rem 1rem;
  background: none;
  color: #4d8a42;
  border: 2px solid #4d8a42;
  text-align: center;
}

.button {
  display: block;
  margin: 1rem auto 0;
  padding: .5rem 1rem;
  background: #4d8a42;
  border: none;
  cursor: pointer;
}