*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: 1.6rem;
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url('./assets/image/bgc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #4d8a42;
}